@model IEnumerable<KumoShopMVC.ViewModels.ProductVM>
@{
    ViewData["Title"] = "Search";
    Layout = "_TemplateProduct";
}

@await Html.PartialAsync("ProductItem", Model)
				<!-- row -->
				<div class="row">
					<div class="col-xl-12 col-lg-12 col-md-12 text-center">
						<a href="#" class="btn stretched-link borders m-auto"><i class="lni lni-reload mr-2"></i>Load More</a>
					</div>
				</div>
