@model IEnumerable<KumoShopMVC.ViewModels.ProductVM>
@{
    ViewData["Title"] = "Home Page";
}
<section class="middle">

			<div class="container">
				<div class="row justify-content-center">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
						<div class="sec_title position-relative text-center">
							<h2 class="off_title">Hot Products</h2>
							<h3 class="ft-bold pt-3">Our Hot Products</h3>
						</div>
					</div>
				</div>
				<!-- row -->

				<div class="row align-items-center rows-products">
			@foreach (var item in Model)
			{
				if (item.IsHot)
				{
					<!-- Single -->
					<div class="col-xl-3 col-lg-4 col-md-6 col-6">
						<div class="product_grid card b-0">
							@if (item.IsNew)
							{
								<div class="badge bg-danger text-white position-absolute ft-regular ab-left text-upper" style="top: 30px;">
									Hot
								</div>
							}

							@if (item.IsHot)
							{
								<div class="badge bg-success text-white position-absolute ft-regular ab-left text-upper" style="top: 60px;">
									New
								</div>
							}
							<div class="card-body p-0">
								<div class="shop_thumb position-relative">
									<div class="quick_view_thumb">
										<div class="quick_view_slide">
											@if (item.Images != null)
											{
												@foreach (var img in item.Images)
												{
													<div class="single_view_slide">
														<img class="card-img-top" src="~/assets/img/products/@img" alt="Product Image" />
													</div>
												}
											}
										</div>
									</div>
									<div class="product-hover-overlay bg-dark d-flex align-items-center justify-content-center">
										<div class="edlio"><a asp-action="Detail" asp-controller="Product" asp-route-id="@item.ProductId" class="text-white fs-sm ft-medium"><i class="fas fa-eye mr-1"></i>Detail</a></div>
									</div>
								</div>
							</div>
							<div class="card-footers b-0 pt-3 px-2 bg-white d-flex align-items-start justify-content-center">
								<div class="text-left">
									<div class="text-center">
										<h5 class="fw-bolder fs-md mb-0 lh-1 mb-1">@item.NameProduct</h5>
										<div class="elis_rty"><span class="ft-bold theme-cl fs-md">$@item.Price</span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				}
			}
				</div>

				<!-- row -->

				<div class="row justify-content-center">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
						<div class="position-relative text-center">
							<a asp-controller="Product" class="btn stretched-link borders">Explore More<i class="lni lni-arrow-right ml-2"></i></a>
						</div>
					</div>
				</div>

			</div>
	<br /><br /><br /><br />
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
						<div class="sec_title position-relative text-center">
							<h2 class="off_title">New Products</h2>
							<h3 class="ft-bold pt-3">Our New Products</h3>
						</div>
					</div>
				</div>
				<!-- row -->

				<div class="row align-items-center rows-products">
			@foreach (var item in Model)
			{
				if (item.IsNew)
				{
					<!-- Single -->
					<div class="col-xl-3 col-lg-4 col-md-6 col-6">
						<div class="product_grid card b-0">
							@if (item.IsNew)
							{
								<div class="badge bg-danger text-white position-absolute ft-regular ab-left text-upper" style="top: 30px;">
									Hot
								</div>
							}

							@if (item.IsHot)
							{
								<div class="badge bg-success text-white position-absolute ft-regular ab-left text-upper" style="top: 60px;">
									New
								</div>
							}
							<div class="card-body p-0">
								<div class="shop_thumb position-relative">
									<div class="quick_view_thumb">
										<div class="quick_view_slide">
											@if (item.Images != null)
											{
												@foreach (var img in item.Images)
												{
													<div class="single_view_slide">
														<img class="card-img-top" src="~/assets/img/products/@img" alt="Product Image" />
													</div>
												}
											}
										</div>
									</div>
									<div class="product-hover-overlay bg-dark d-flex align-items-center justify-content-center">
										<div class="edlio"><a asp-action="Detail" asp-controller="Product" asp-route-id="@item.ProductId" class="text-white fs-sm ft-medium"><i class="fas fa-eye mr-1"></i>Detail</a></div>
									</div>
								</div>
							</div>
							<div class="card-footers b-0 pt-3 px-2 bg-white d-flex align-items-start justify-content-center">
								<div class="text-left">
									<div class="text-center">
										<h5 class="fw-bolder fs-md mb-0 lh-1 mb-1">@item.NameProduct</h5>
										<div class="elis_rty"><span class="ft-bold theme-cl fs-md">$@item.Price</span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				}
			}
				</div>
				<!-- row -->

				<div class="row justify-content-center">
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
						<div class="position-relative text-center">
							<a asp-controller="Product" class="btn stretched-link borders">Explore More<i class="lni lni-arrow-right ml-2"></i></a>
						</div>
					</div>
				</div>

			</div>

</section>
