﻿
@model KumoShopMVC.ViewModels.OrderVM

<h1>Edit Order</h1>

<div class="page-content">

    <!-- Start Container Fluid -->
    <div class="container-xxl">

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Order Information</h4>
                    </div>
                    <form asp-action="OrderEdit" asp-controller="Admin" method="post">
                        @Html.AntiForgeryToken()
                        <input type="hidden" asp-for="OrderId" value="@Model.OrderId"/>
                        <div class="form-group ms-5 mb-3">
                            <label for="FullName">Customer Name</label>
                            <input type="text" asp-for="FullName" class="form-control" />
                        </div>

                        <div class="form-group ms-5 mb-3">
                            <label for="Address">Address</label>
                            <input type="text" asp-for="Address" class="form-control" />
                        </div>

                        <div class="form-group ms-5 mb-3">
                            <label for="Phone">Phone</label>
                            <input type="text" asp-for="Phone" class="form-control" />
                        </div>
                        <select name="StatusShippingId" class="form-control" asp-for="StatusShippingId" asp-items="ViewBag.StatusShipping">
                            <option value="">-- Select Status --</option>
                        </select>
                        <div class="form-group text-center mt-4">
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                            <a href="@Url.Action("OrderList", "Admin")" class="btn btn-secondary">Cancel</a>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- End Container Fluid -->
<!-- ========== Footer Start ========== -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <script>document.write(new Date().getFullYear())</script> &copy; Larkon. Crafted by <iconify-icon icon="iconamoon:heart-duotone" class="fs-18 align-middle text-danger"></iconify-icon> <a href="#" class="fw-bold footer-text" target="_blank">Techzaa</a>
            </div>
        </div>
    </div>
</footer>
<!-- ========== Footer End ========== -->
