@model KumoShopMVC.ViewModels.RegisterVM
@{
    ViewData["Title"] = "_RegisterPartial";
}

<form asp-action="Register" method="post" class="border p-3 rounded">
    <div class="form-group">
        <label asp-for="FullName">Full Name *</label>
        <input asp-for="FullName" type="text" class="form-control" placeholder="Full Name" required>
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email">Email *</label>
        <input asp-for="Email" type="email" class="form-control" placeholder="Email" required>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="Password">Password *</label>
            <input asp-for="Password" class="form-control" placeholder="Password" required>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group col-md-6">
            <label asp-for="ConfirmPassword">Confirm Password *</label>
            <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" required>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-md full-width bg-dark text-light fs-md ft-medium">Create An Account</button>
    </div>
</form>