@model IEnumerable<KumoShopMVC.ViewModels.CategoryMenuVM>

													<!-- Single Filter Card -->
							<ul>
								@foreach (var item in Model)
								{
									<li class="single_filter_card" >
										<h5>
											<a asp-controller="Product" asp-action="Index" asp-route-category="@item.CaterogyId" class="collapsed">@item.NameCategory</a>
										</h5>
									</li>
								}
							</ul>
												</div>
											</div>
										</div>
									</div>

									<div class="single_search_boxed">
										<div class="widget-boxed-header">
											<h4><a href="#pricing" data-toggle="collapse" aria-expanded="false" role="button" name="prices">Pricing</a></h4>
										</div>
										<div class="widget-boxed-body collapse show" id="pricing" data-parent="#pricing">
											<div class="side-list no-border mb-4">
												<div class="price-range">
													<input type="text" id="minPrice" class="form-control" placeholder="Min Price" name="minPrice" value="" />
													<span class="separator">-</span>
													<input type="text" id="maxPrice" class="form-control" placeholder="Max Price" name="maxPrice" value="" />
												</div>
											</div>
										</div>
									</div>

									<!-- Single Option -->
									<div class="single_search_boxed">
										<div class="widget-boxed-header">
											<h4><a href="#brands" data-toggle="collapse" aria-expanded="false" role="button">Brands</a></h4>
										</div>
										<div class="widget-boxed-body collapse show" id="brands" data-parent="#brands">
											<div class="side-list no-border">
												<!-- Single Filter Card -->
												<div class="single_filter_card">
													<div class="card-body pt-0">
														<div class="inner_widget_link">
														<input id="brands" class="form-control" name="brands" type="text" placeholder="Brand">
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- Single Option -->
									<div class="single_search_boxed">
										<div class="widget-boxed-header">
											<h4><a href="#gender" data-toggle="collapse" class="collapsed" aria-expanded="false" role="button">Gender</a></h4>
										</div>
										<div class="widget-boxed-body collapse" id="gender" data-parent="#gender">
											<div class="side-list no-border">
												<!-- Single Filter Card -->
												<div class="single_filter_card">
													<div class="card-body pt-0">
														<div class="inner_widget_link">
															<select name="genders" class="form-control">
																<option value="male">Male</option>
																<option value="female">Female</option>
															</select>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>


											</div>
										</div>
									</div>	