@model KumoShopMVC.ViewModels.CartModel
							<li>
								<a href="#" onclick="openCart()">
									<i class="lni lni-shopping-basket cart-main"></i><span class="dn-counter cart-count theme-bg">@Model.Quantity</span>
								</a>
							</li>

